[submodule "content/projects/raibid-ci"]
	path = content/projects/raibid-ci
	url = https://github.com/raibid-labs/raibid-ci.git
	sparse-checkout = docs/*
[submodule "content/projects/bevy-mcp-ref"]
	path = content/projects/bevy-mcp-ref
	url = https://github.com/raibid-labs/bevy-mcp-ref.git
	sparse-checkout = docs/*
[submodule "content/projects/tauri-ref"]
	path = content/projects/tauri-ref
	url = https://github.com/raibid-labs/tauri-ref.git
	sparse-checkout = docs/*
[submodule "content/projects/raibid-cli"]
	path = content/projects/raibid-cli
	url = https://github.com/raibid-labs/raibid-cli.git
	sparse-checkout = docs/*
